* {
  box-sizing: border-box;
  font-family: 'Comic Neue', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #de5d83;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background: #ffd1dc;
  padding: clamp(20px, 5vw, 40px);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.emoji {
  font-size: clamp(15px, 5vw, 20px);
}

h1 {
  font-size: clamp(20px, 7vw, 30px);
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 60px;
  position: relative;
}

button {
  padding: 12px 26px;
  border: none;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
}

#yes {
  background: #a94064;
  color: white
}

#no {
  background: #eee;
  position: relative;
}

.hint {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.6;
}
